<!-- INCLUDE mcp_header.html -->

{$BEGIN_TCORNERS}{USERNAME}{$END_TCORNERS}
<div class="tablebg">
	<div class="row1" align="center">
		<p class="genmed"><strong <!-- IF USER_COLOR -->style="color:#{USER_COLOR}"<!-- ENDIF -->>{USERNAME}</strong></p>
		<!-- IF RANK_TITLE --><p class="gensmall">{RANK_TITLE}<!-- ENDIF -->
		<!-- IF RANK_IMG --><p>{RANK_IMG}</p><!-- ENDIF -->
		<p align="center"><!-- IF AVATAR_IMG -->{AVATAR_IMG}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF --></p>
	</div>
	<div class="row1">
		<table width="100%" cellspacing="1" cellpadding="2" border="0">
		<tr> 
			<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_JOINED}: </td>
			<td width="100%"><strong class="gen">{JOINED}</strong></td>
		</tr>
		<tr> 
			<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_TOTAL_POSTS}: </td>
			<td><strong class="gen">{POSTS}</strong></td>
		</tr>
		<tr> 
			<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_WARNINGS}: </td>
			<td><strong class="gen">{WARNINGS}</strong></td>
		</tr>
		</table>
	</div
</div>
{$BCORNERS}

<br /><br />

<form method="post" name="mcp" action="{U_POST_ACTION}">

	{$BEGIN_TCORNERS}{L_ADD_WARNING}{$END_TCORNERS}
	<div class="tablebg">
		<div class="row3 gensmall" align="center">{L_ADD_WARNING_EXPLAIN}</div>
		<div class="row1" align="center"><textarea name="warning" rows="10" cols="76"></textarea></div>
		<div class="row1 genmed" align="center"><label><input type="radio" class="checkbox" name="notify_user" checked="checked" /> {L_NOTIFY_USER_WARN}</label>
		<div class="cat" align="center"><input class="button" type="submit" name="action[add_warning]" value="{L_SUBMIT" />&nbsp;&nbsp;<input class="button" type="reset" value="{L_RESET}" /></div>
	</div>
	{$BCORNERS}
	
	{S_FORM_TOKEN}
	
</form>

<!-- INCLUDE mcp_footer.html -->
