<!-- INCLUDE overall_header.html -->

<form action="{S_POST_ACTION}" method="post" name="postform">

	{$BEGIN_TCORNERS}{L_SEND_EMAIL_USER} {USERNAME}{$END_TCORNERS}
	<table class="tablebg" width="100%" cellspacing="1">
	<!-- IF ERROR_MESSAGE -->
		<tr>
			<td class="row3" colspan="2" align="center"><span class="error">{ERROR_MESSAGE}</span></td>
		</tr>
	<!-- ENDIF -->
	<!-- IF S_SEND_USER -->
		<tr>
			<td class="row1 genmed" width="35%" align="right"><strong>{L_RECIPIENT}</strong></td>
			<td class="row2 genmed" width="65%"><strong>{USERNAME}</strong></td>
		</tr>
		<tr>
			<td class="row1 genmed" width="35%" align="right"><strong>{L_SUBJECT}</strong></td>
			<td class="row2"><input class="post" type="text" name="subject" size="50" tabindex="2" value="{SUBJECT}" /></td>
		</tr>
	<!-- ELSE -->
		<tr>
			<td class="row1 genmed" width="35%" align="right"><strong><label for="email">{L_EMAIL_ADDRESS}</label></strong></td>
			<td class="row2"><input class="post" type="text" id="email" name="email" size="50" maxlength="100" value="{EMAIL}" /></td>
		</tr>
		<tr>
			<td class="row1 genmed" width="35%" align="right"><strong><label for="name">{L_REAL_NAME}</label></strong></td>
			<td class="row2"><input class="post" type="text" id="name" name="name" size="50" value="{NAME}" /></td>
		</tr>
		<tr>
			<td class="row1" width="35%" align="right"><strong class="genmed"><label for="lang">{L_DEST_LANG}</label></strong><br /><span class="gensmall">{L_DEST_LANG_EXPLAIN}</span></td>
			<td class="row2"><select id="lang" name="lang">{S_LANG_OPTIONS}</select></td>
		</tr>
	<!-- ENDIF -->
	<tr>
		<td class="row1" valign="top" align="right"><strong class="genmed">{L_MESSAGE_BODY}</strong><br /><span class="gensmall">{L_EMAIL_BODY_EXPLAIN}</span></td>
		<td class="row2"><textarea class="post" name="message" rows="15" cols="76" tabindex="3">{MESSAGE}</textarea></td>
	</tr>
	<tr>
		<td class="row1 genmed" valign="top" align="right"><strong>{L_OPTIONS}</strong></td>
		<td class="row2"><input type="radio" class="checkbox" name="cc_email" value="1" checked="checked" /> <span class="gensmall">{L_CC_EMAIL}</span></td>
	</tr>
	<tr>
		<td class="cat" colspan="2" align="center"><input type="submit" tabindex="6" name="submit button" value="{L_SEND_EMAIL}" /></td>
	</tr>
	</table>
	{$BCORNERS}
	
	{S_FORM_TOKEN}
	
</form>

<br />

<div class="end"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->
