<!-- INCLUDE simple_header.html -->
<script type="text/javascript">
// <![CDATA[
	/**
	* Close upload popup
	*/
	function close_popup()
	{
		if (opener != null)
		{
			if (opener.close_waitscreen != null)
			{
				if (opener.close_waitscreen == 1)
				{
					opener.close_waitscreen = 0;
					self.close();
					return 0;
				}
			}
		}
		setTimeout("close_popup()", 1000);
		return 0;
	}
// ]]>
</script>

<div style="padding:14px" align="center">
	<span class="genmed">{L_UPLOAD_IN_PROGRESS}</span><br /><br />
	<div align="center">{PROGRESS_BAR}</div><br /><br />
	<span class="genmed"><a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a></span><br /><br />
</div>

<script type="text/javascript">
// <![CDATA[
	close_popup();	
// ]]>
</script>

<!-- INCLUDE simple_footer.html -->
