<!-- INCLUDE ucp_header.html -->

<!-- IF ERROR -->
	{$BEGIN_TCORNERS}<span style="color:#F00">{L_INFORMATION}</span>{$END_TCORNERS}
	<div class="tablebg">
		<div class="row1 gensmall">{ERROR}</div>
	</div>
	{$BCORNERS}
	<br />
<!-- ENDIF -->

{$BEGIN_TCORNERS}{L_TITLE}{$END_TCORNERS}
<table class="tablebg" width="100%" cellspacing="1">
<!-- IF S_FORCE_PASSWORD -->
	<tr>
		<td class="row3" colspan="2" align="center"><span class="gensmall">{L_FORCE_PASSWORD_EXPLAIN}</span></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="row1" width="35%" align="{S_CONTENT_FLOW_END}"><strong class="genmed"><!-- IF S_CHANGE_USERNAME --><label for="username"><!-- ENDIF -->{L_USERNAME}:<!-- IF S_CHANGE_USERNAME --></label><!-- ENDIF --></strong><br /><span class="gensmall">{L_USERNAME_EXPLAIN}</span></td>
	<td class="row2"><!-- IF S_CHANGE_USERNAME --><input type="text post" id="username" name="username" size="30" value="{USERNAME}" /><!-- ELSE --><strong class="gen">{USERNAME}</strong><!-- ENDIF --></td>
</tr>
<tr>
	<td class="row1" align="{S_CONTENT_FLOW_END}"><strong class="genmed"><label for="email">{L_EMAIL_ADDRESS}:</label></strong></td>
	<td class="row2"><!-- IF S_CHANGE_EMAIL --><input type="text post" id="email" name="email" size="30" maxlength="100" value="{EMAIL}" /><!-- ELSE --><strong class="gen">{EMAIL}</strong><!-- ENDIF --></td>
</tr>
<!-- IF S_CHANGE_EMAIL -->
	<tr>
		<td class="row1" align="{S_CONTENT_FLOW_END}"><strong class="genmed"><label for="email_confirm">{L_CONFIRM_EMAIL}:</label></strong><br /><span class="gensmall">{L_CONFIRM_EMAIL_EXPLAIN}</span></td>
		<td class="row2"><input type="text post" id="email_confirm" name="email_confirm" size="30" maxlength="100" value="{CONFIRM_EMAIL}" /></td>
	</tr>
<!-- ENDIF -->
<!-- IF S_CHANGE_PASSWORD -->
	<tr>
		<td class="row1" align="{S_CONTENT_FLOW_END}"><strong class="genmed"><label for="new_password">{L_NEW_PASSWORD}:</label></strong><br /><span class="gensmall">{L_CHANGE_PASSWORD_EXPLAIN}</span></td>
		<td class="row2"><input type="password post" id="new_password" name="new_password" size="30" maxlength="255" value="{NEW_PASSWORD}" /></td>
	</tr>
	<tr>
		<td class="row1" align="{S_CONTENT_FLOW_END}"><strong class="genmed"><label for="password_confirm">{L_CONFIRM_PASSWORD}:</label></strong><br /><span class="gensmall">{L_CONFIRM_PASSWORD_EXPLAIN}</span></td>
		<td class="row2"><input type="password post" id="password_confirm" name="password_confirm" size="30" maxlength="255" value="{PASSWORD_CONFIRM}" /></td>
	</tr>
<!-- ENDIF -->
<tr>
	<th colspan="2">{L_CONFIRM_CHANGES}</th>
</tr>
<tr>
	<td class="row1" align="{S_CONTENT_FLOW_END}"><strong class="genmed"><label for="cur_password">{L_CURRENT_PASSWORD}:</label></strong><br /><span class="gensmall">{L_CURRENT_PASSWORD_EXPLAIN}</span></td>
	<td class="row2"><input type="password post" id="cur_password" name="cur_password" size="30" maxlength="255" value="{CUR_PASSWORD}" /></td>
</tr>
<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="button" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="button" type="reset" value="{L_RESET}" name="reset" /></td>
</tr>
</table>
{$BCORNERS}

<!-- INCLUDE ucp_footer.html -->
