<!-- IF PAGINATION -->
<div class="tbspace">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td class="nav" nowrap="nowrap">{PAGE_NUMBER}</td>
			<td class="gensmall" nowrap="nowrap">&nbsp;[ <!-- IF TOTAL_TOPICS -->{TOTAL_TOPICS}<!-- ELSEIF TOTAL_POSTS -->{TOTAL_POSTS}<!-- ELSE -->{TOTAL}<!-- ENDIF --> ]</td>
			<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
		</tr>
		</table>
</div>
<!-- ENDIF -->     
           
            </td>
		</tr>
	</table>
	
</div>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<div class="forumbar" align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->