<!-- INCLUDE overall_header.html -->


<table width="100%" height="44" border="0" cellpadding="0" cellspacing="0">
<tr>
<table width="100%" height="44" border="0" cellpadding="0" cellspacing="0">

		<td><img src="{T_THEME_PATH}/images/box_01.png" width="41" height="48" alt=""></td>
		<td background="{T_THEME_PATH}/images/box_02.png" width="50%" height="48"></td>

		<td background="{T_THEME_PATH}/images/cu.png" width="300" height="48">

		<h4 align="center">{MESSAGE_TITLE}</h4></td>

		<td background="{T_THEME_PATH}/images/box_02.png" width="50%" height="48"></td>

		<td><img src="{T_THEME_PATH}/images/box_04.png" width="41" height="48" align="right">



</table>
</tr>

<tr>
<table width="100%" cellspacing="0">
		<td background="{T_THEME_PATH}/images/box_08.png" width="41" height="100%"></td>

	<td class="row1" align="center"><br /><p class="gen">{MESSAGE_TEXT}</p><br /></td>
<td background="{T_THEME_PATH}/images/box_09.png" width="41" height="100%"></td>

</table>
</tr>

<tr>
<table width="100%" cellspacing="0">

		<td><img src="{T_THEME_PATH}/images/box_10.png" width="41" height="46" alt=""></td>
		<td background="{T_THEME_PATH}/images/box_11.png" width="100%" height="46"></td>
		<td><img src="{T_THEME_PATH}/images/box_13.png" width="41" height="46" alt=""></td>
</table>	
</tr>

</table>
<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<!-- INCLUDE overall_footer.html -->
