<!-- INCLUDE overall_header.html -->

<form method="post" id="report" action="{S_REPORT_ACTION}">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="7" height="7"><img src="{T_THEME_PATH}/images/tl.gif" width="7" height="7" /></td>
    <td height="7" background="{T_THEME_PATH}/images/tm.gif"></td>
    <td width="7" height="7"><img src="{T_THEME_PATH}/images/tr.gif" width="7" height="7" /></td>
  </tr>
  <tr>
    <td width="7" background="{T_THEME_PATH}/images/ml.gif"></td>
    <td>
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2">{L_REPORT_POST}</th>
</tr>
<tr>
	<td class="row3" colspan="2"><span class="gensmall">{L_REPORT_POST_EXPLAIN}</span></td>
</tr>
<tr>
	<td class="row1" width="22%"><b class="gen">{L_REASON}:</b></td>
	<td class="row2" width="78%"><select name="reason_id">
		<!-- BEGIN reason --><option value="{reason.ID}"<!-- IF reason.S_SELECTED --> selected="selected"<!-- ENDIF -->>{reason.TITLE} &raquo; {reason.DESCRIPTION}</option><!-- END reason -->
	</select></td>
</tr>
<!-- IF S_CAN_NOTIFY -->
	<tr>
		<td class="row1"><span class="gen"><b>{L_REPORT_NOTIFY}:</b></span><br /><span class="gensmall">{L_REPORT_NOTIFY_EXPLAIN}</span></td>
		<td class="row2"><span class="gen"><input type="radio" class="radio" name="notify" value="1"<!-- IF S_NOTIFY --> checked="checked"<!-- ENDIF --> />&nbsp; {L_YES} &nbsp;<input type="radio" class="radio" name="notify" value="0"<!-- IF not S_NOTIFY --> checked="checked"<!-- ENDIF --> />&nbsp; {L_NO}</span></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="row1" valign="top"><span class="gen"><b>{L_MORE_INFO}:</b></span><br /><span class="gensmall">{L_CAN_LEAVE_BLANK}</span></td>
	<td class="row2"><textarea class="post" name="report_text" rows="10" cols="50">{REPORT_TEXT}</textarea></td>
</tr>
<tr>
	<td class="catb" colspan="2" align="center"><input type="submit" name="submit" class="btnmain" value="{L_SUBMIT}" />&nbsp;<input type="submit" name="cancel" class="btnlite" value="{L_CANCEL}" /></td>
</tr>
</table>
</td>
    <td width="7" background="{T_THEME_PATH}/images/mr.gif"></td>
  </tr>
  <tr>
    <td width="7" height="6" align="right"><img src="{T_THEME_PATH}/images/bl.gif" width="7" height="6" /></td>
    <td height="6" background="{T_THEME_PATH}/images/bm.gif"></td>
    <td width="7" height="6"><img src="{T_THEME_PATH}/images/br.gif" width="7" height="6" /></td>
  </tr>
</table>
{S_FORM_TOKEN}
</form>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<div style="float: {S_CONTENT_FLOW_END};"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->