<!-- IF $CA_COMMENTS -->
$CA_SPACING - cellspacing for all tables
$CA_WIDTH - page width. examples: '100%', '800'
<!-- ENDIF -->

<!-- DEFINE $CA_WIDTH = '100%' -->
<!-- DEFINE $CA_SPACING = '0' -->

<!-- DEFINE $CA_CAP_START = '<caption><div class="cap-left"><div class="cap-right">' -->
<!-- DEFINE $CA_CAP_END = '&nbsp;</div></div></caption>' -->
<!-- DEFINE $CA_BLOCK_START = '<div class="block-start">' -->
<!-- DEFINE $CA_BLOCK_END = '<div class="block-end-left"><div class="block-end-right"></div></div></div>' -->
<!-- DEFINE $CA_SKIP_LAST_SPACER = '1' -->
